<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Usuário</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

    <script src="./../controllers/usuarioCtrl.js"></script>
    <script src="./../controllers/menuCtrl.js"></script>

    <link rel="stylesheet" href="./../style.css">

</head>
<body>
    <menu></menu>

    <section id="grid" style="padding:40px;">
        <div style="display: flex; flex-direction: row;">
            <button type="submit" class="btn btn-default" name="toggle_view" value="form" onclick="toggle('form')">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <input class="form-control" type="text" id="filter" name="filter" placeholder="Filtro" onkeyup="filtrar(this)">
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>Celular 1</td>
                    <td>Celular 2</td>
                    <td>Email</td>
                    <td>Último Acesso</td>
                    <td>Cadastro</td>
                    <td>Edição</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>
    <section  class="section-form" id="form" style="display:none; padding: 40px;">
        <form action="" method="post" class="form">
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" id="nome" name="nome" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="celular1">Celular 1</label>
                        <input type="tel" class="form-control" id="celular1" name="celular1" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="celular2">Celular 2</label>
                        <input type="tel" class="form-control" id="celular2" name="celular2" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" required>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-cancel" onclick="toggle()">Cancelar</button>
            <button type="button" class="btn btn-success" onclick="salvar()">Salvar</button>
        </form>
    </section>
</body>
</html>